body {
    font-family: Andale Mono, monospace;
    min-height: 100%;
    background-color: #000000;
    box-shadow: inset 0 0 10vw -2vw #000000;
    position: static;
}

a.no-underline,
u.no-underline {
    text-decoration: none;
    color: #417da8;
}

p {
    font-size: 2em;
    color: #797877;
}