html {
    height: 100%;
}

body {
    font-family: Andale Mono, monospace;
    min-height: 100%;
    background-color: #000000;
    box-shadow: inset 0 0 10vw -2vw #000000;
    position: static;
}

/* Game selection boxes */
div.buttonbox {
    height: 8vh;
    min-height: 100px;
    width: 90%;
    min-width: 500px;
    color: #000000;

    border-radius: 4px;
    box-shadow: #000000 0.2vw 0.2vw;
    border-color: #000000;
    border-style: solid;
    border-width: 0.15vw;
    transition: transform 0.5s;
}

div.buttonbox.yellow {
    background-color: #e3a600;
    color: #000000;
}
div.buttonbox.black {
    background-color: #000000;
    color: #ffffff;
}
div.buttonbox.red {
    background-color: #d90000;
    color: #000000;
}

div.buttonbox:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    text-decoration: none;
}

div.buttonbox.noanimation {
    -webkit-transform: scale(1);
    transform: scale(1);
    text-decoration: none;
}

.spinner-border.big {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    margin-top: -2.5vw;
    font-size: 2vw;
}

a.no-underline,
u.no-underline {
    text-decoration: none !important;
}

/* Room joining box */
div.gamebox {
    min-height: 100px;
    min-width: 250px;
    width: 80vw;
    color: #000000;

    border-radius: 4px;
    box-shadow: #000000 0.8vw 0.8vw;
    border-color: #000000;
    border-style: solid;
    border-width: 0.15vw;
    transition: transform 0.5s;

    position: absolute;
    top: 15%;
    left: 10%;
    -ms-transform: translate(-10%, -15%);
    transform: translate(-10%, -15%);
}

div.gamebox.yellow {
    background-color: #e3a600;
    color: #000000;
}

div.gamebox div.inner {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

div.gamebox input {
    background-color: #9e9e9e;
    border-color: #000000;
}

div.gamebox input:focus {
    background-color: #9e9e9e;
    border-color: #343434;
    box-shadow: 0 0 0 0.2rem #343434;
}

div.gamebox button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 5px 0 1px #000000;
    border-color: #000000;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 5px;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    background-color: #4f94b4;
    transition: transform 0.5s;
}

div.gamebox button:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    text-decoration: none;
}

div.gamebox button:focus {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    text-decoration: none;
}

div.text-border {
    border-color: #000000;
    border-style: solid;
    border-width: 0.15vw;
    border-radius: 5px;
}

.bg-white {
    background-color: white;
}
