{% extends "base.html" %}
{% load static i18n %}

{% block custom_css %}

{% endblock %}

{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="project-name">
                <span id="typed"></span>
            </div>

        </div>

        <div class="col-lg-4 offset-lg-1">
            <div class="py-5">
                {% for game_module in available_games %}
                <a class="no-underline" href="#">
                    <div class="buttonbox my-2 {{ game_module.color }} {% if game_module.url %} available{% endif %}" data-url="{{ game_module.url }}">
                        <div class="row p-0">
                            <div class="col-3">
                                {% if game_module.image %}
                                <img src="{{ game_module.image }}" alt="Missing">
                                {% else %}
                                <i class="fas fa-times fa-7x ml-3" style="font-size: 6em;"></i>
                                {% endif %}
                            </div>
                            <div class="col-9 my-1">
                                <h4>{{ game_module.name }}</h4>
                                <p>{{ game_module.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            <a class="no-underline" href="">
                    <div class="buttonbox my-2">
                        <div class="row p-0">
                            <div class="col-3">
                                {% if game_module.image %}
                                <img src="{{ game_module.image }}" alt="Missing">
                                {% else %}
                                <i class="fas fa-times fa-7x ml-3" style="font-size: 6em;"></i>
                                {% endif %}
                            </div>
                            <div class="col-9 my-1">
                                <h4>{{ game_module.name }}</h4>
                                <p>{{ game_module.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            <a class="no-underline" href="">
                    <div class="buttonbox my-2">
                        <div class="row p-0">
                            <div class="col-3">
                                {% if game_module.image %}
                                <img src="{{ game_module.image }}" alt="Missing">
                                {% else %}
                                <i class="fas fa-times fa-7x ml-3" style="font-size: 6em;"></i>
                                {% endif %}
                            </div>
                            <div class="col-9 my-1">
                                <h4>{{ game_module.name }}</h4>
                                <p>{{ game_module.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            <a class="no-underline" href="">
                    <div class="buttonbox my-2">
                        <div class="row p-0">
                            <div class="col-3">
                                {% if game_module.image %}
                                <img src="{{ game_module.image }}" alt="Missing">
                                {% else %}
                                <i class="fas fa-times fa-7x ml-3" style="font-size: 6em;"></i>
                                {% endif %}
                            </div>
                            <div class="col-9 my-1">
                                <h4>{{ game_module.name }}</h4>
                                <p>{{ game_module.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <script>
        var typed = new Typed('#typed', {
            strings: ['Project_couch^5000'],
            startDelay: 1000,
            typeSpeed: 100,
            loop: true,
            showCursor: false,
            backSpeed: 50,
            onComplete: () => {
                typed.startDelay = 1500;
            },
        });
    </script>
    <script src="{% static 'js/main_menu.js' %}"></script>
{% endblock %}
