{% extends "demo_game_base.html" %}

{% block custom_css %}

{% endblock %}

{% block custom_js %}
<script>
    const wsUrl = '{{ wsUrl }}';
    const gameName = '{{ game_name }}';
    const roomCode = '{{ room_code }}';
</script>
<script src="../static/js/server.js"></script>
{% endblock %}

{% block content %}
<h3>Server</h3>
<div class="container">
    <div class="row">
        <div class="joinbox yellow p-5" id="waitbox">
            <h3>Room Code: {{ room_code|upper }}</h3>
            <h3>Players currently: <span id="player-amount">0</span></h3>
            <button type="button" id="start-game" name="start-game">Start game</button>
        </div>
    </div>
</div>
{% endblock %}